.HeaderAnimation {
	height: 350px;
}

.nameplate {
	color: white;
	font-size: large;
	margin: 10px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 30px;
}
.Nav-bar {
	color: white;
	font-size: large;
	padding-right: 50px;
	padding-left: 700px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
}
/*.Nav-bar {
	width: 66%;
	display: inline-block;
}*/